* {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  box-sizing: border-box;
  color: black;
}

*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #F4E2C0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.hidden {
  opacity: 0;
  -webkit-opacity: 0;
}

.underline {
  text-decoration: underline;
}


@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 480px) {
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 20px;
  }
}

/* M */

@media only screen and (min-width: 740px) {

}

/* ML */

@media only screen and (min-width: 840px) {
  .center-y-ML {
    margin-top: auto;
    margin-bottom: auto;
  }

  .align-right-ML {
    text-align: right;
  }
}

/* L */

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  p {
    font-size: 24px;
  }

  .align-left-L {
    text-align: left;
  }

}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  p {
    font-size: 24px;
  }
}

/* Empty for copy */

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 480px) {
  
}

@media only screen and (min-width: 740px) {

}

@media only screen and (min-width: 840px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1440px) {

}