#constructContainer {
    height: 100vh;
}

#mainText {
    margin: auto;
    
    width: 100%;

    border: solid black 2px;
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 480px) {
  
}

@media only screen and (min-width: 740px) {
    #oops {
        text-align: right;
    }
}

@media only screen and (min-width: 840px) {
    
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1440px) {
    #oops {
        text-align: center;
    }
}