@use "../../css/media.scss";
@import "../../css/grid.scss";
@import "../../css/helpers.scss";

#workHeader {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}