@use "../../css/media.scss";
@import "../../css/grid.scss";
@import "../../css/helpers.scss";

#techStack {
    h1 {
        @include col-2-2;
        @include row-1;

        display: flex;
        align-items: center;
        justify-content: center;

        @include media.min-width(l) {
            @include col-3-4;
        }

        @include media.min-width(xl) {
            @include col-5-4;
        }
    }

    :nth-child(3) {
        @include col-1-4;
        @include row-2-7;

        max-width: 300px;

        @include media.min-width(s) {}

        @include media.min-width(ms) {
            max-width: 380px;
        }

        @include media.min-width(m) {}

        @include media.min-width(ml) {
            @include col-1-4;
        }

        @include media.min-width(l) {}

        @include media.min-width(xl) {
            @include col-2-4;
        }
    }
}

#techItem {
    // Dont like how this looks

    // background-color: #fdeac7;

    // box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.17);
    // -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.17);
    // -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.17);

    // border-radius: 5px;

    display: flex;
    align-items: center;

    height: 5vh;
    margin-bottom: 20px;

    @include media.min-width(s) {}

    @include media.min-width(ms) {}

    @include media.min-width(m) {}

    @include media.min-width(ml) {}

    @include media.min-width(l) {}

    @include media.min-width(xl) {}

    p {
        margin-left: 8px;

        @include media.min-width(s) {}

        @include media.min-width(ms) {}

        @include media.min-width(m) {}

        @include media.min-width(ml) {}

        @include media.min-width(l) {}

        @include media.min-width(xl) {}
    }
}