// Container

.container {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);

    column-gap: 15px;
    row-gap: 15px;

    padding: 40px;
}

@media only screen and (min-width: 740px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);

        column-gap: 20px;
        row-gap: 20px;

        padding: 70px 80px;
    }
}

@media only screen and (min-width: 840px) {
    .container {
        grid-template-rows: repeat(4, 1fr);

        padding: 70px 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(8, 1fr);

        padding: 70px 140px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        grid-template-columns: repeat(12, 1fr);

        max-width: 1440px;
        margin: 0 auto;
    }
}

// Default grid size

@mixin col-1-2 {
    grid-column: 1/ span 2;
}

@mixin col-1-3 {
    grid-column: 1/ span 3;
}

@mixin col-1-4 {
    grid-column: 1/ span 4;
}

@mixin col-3-2 {
    grid-column: 3/ span 2;
}

@mixin row-1 {
    grid-row: 1/ span 1;
}

@mixin row-1-2 {
    grid-row: 1/ span 2;
}

@mixin row-2-1 {
    grid-row: 2/ span 1;
}

@mixin row-2-2 {
    grid-row: 2/ span 2;
}

@mixin row-2-3 {
    grid-row: 2/ span 3;
}

@mixin row-3-1 {
    grid-row: 3/ span 1;
}

@mixin row-3-6 {
    grid-row: 3/ span 6;
}

@mixin row-4-1 {
    grid-row: 4/ span 1;
}

@mixin row-4-2 {
    grid-row: 4/ span 2;
}

@mixin row-5-1 {
    grid-row: 5/ span 1;
}

@mixin row-5-2 {
    grid-row: 5/ span 2;
}

@mixin row-6-1 {
    grid-row: 6/ span 1;
}

@mixin row-7-1 {
    grid-row: 7/ span 1;
}

@mixin row-8-1 {
    grid-row: 8/ span 1;
}

/* S */



/* MS */

@mixin row-6-1-MS {
    grid-row: 6/ span 1;
}


/* M */

@mixin col-1-M {
    grid-column: 1;
}

@mixin col-1-2-M {
    grid-column: 1/ span 2;
}

@mixin col-2-2-M {
    grid-column: 2/ span 2;
}

@mixin col-3-2-M {
    grid-column: 3/ span 2;
}

@mixin col-1-3-M {
    grid-column: 1/ span 3;
}

@mixin row-1-M {
    grid-row: 1;
}

@mixin row-2-2-M {
    grid-row: 2/ span 2;
}

@mixin row-2-5-M {
    grid-row: 2/ span 5;
}

@mixin row-3-2-M {
    grid-row: 3/ span 2;
}

@mixin row-4-1-M {
    grid-row: 4/ span 1;
}

@mixin row-4-2-M {
    grid-row: 4/ span 2;
}

@mixin row-6-1-M {
    grid-row: 6/ span 1;
}

@mixin row-5-1-M {
    grid-row: 5/ span 1;
}

@mixin row-5-2-M {
    grid-row: 5/ span 2;
}


/* ML */

@mixin col-1-ML {
    grid-column: 1;
}

@mixin col-3-2-ML {
    grid-column: 3/ span 2;
}

@mixin col-1-2-ML {
    grid-column: 1/ span 2;
}

@mixin row-2-1-ML {
    grid-row: 2/ span 1;
}

@mixin row-2-ML {
    grid-row: 2/ span 2;
}

@mixin row-2-3-ML {
    grid-row: 2/ span 3;
}

@mixin row-3-1-ML {
    grid-row: 3/ span 1;
}

@mixin row-4-1-ML {
    grid-row: 4/ span 1;
}


/* L */

@mixin col-1-2-L {
    grid-column: 1/ span 2;
}

@mixin col-3-4-L {
    grid-column: 3/ span 4;
}

@mixin col-1-4-L {
    grid-column: 1/ span 4;
}

@mixin col-5-4-L {
    grid-column: 5/ span 4;
}

@mixin col-1-8-L {
    grid-column: 1/ span 8;
}

@mixin col-7-2-L {
    grid-column: 7/ span 2;
}

@mixin row-1-4-L {
    grid-row: 1/ span 4;
}

/* XL */

@mixin col-2-2-XL {
    grid-column: 2/ span 2;
}

@mixin col-2-4-XL {
    grid-column: 2/ span 4;
}

@mixin col-5-4-XL {
    grid-column: 5/ span 4;
}

@mixin col-7-6-XL {
    grid-column: 7/ span 6;
}

@mixin col-9-4-XL {
    grid-column: 9/ span 4;
}

@mixin col-3-8-XL {
    grid-column: 3/ span 8;
}

@mixin col-11-2-XL {
    grid-column: 11/ span 2;
}

@mixin col-3-3-XL {
    grid-column: 3/ span 3;
}

@mixin col-2-5-XL {
    grid-column: 2/ span 5;
}

@mixin col-8-3-XL {
    grid-column: 8/ span 3;
}

@mixin col-8-4-XL {
    grid-column: 8/ span 4;
}