@use "../../css/media.scss";
@import "../../css/grid.scss";
@import "../../css/helpers.scss";

#info {
    height: 50vh;

    :nth-child(2) {
        @include col-1-4;
        @include row-3-1;

        @include media.min-width(s) {}

        @include media.min-width(ms) {}

        @include media.min-width(m) {
            @include row-2-1;
        }

        @include media.min-width(ml) {}

        @include media.min-width(l) {}

        @include media.min-width(xl) {}
    }

    :nth-child(3) {
        @include col-1-4;
        @include row-4-1;

        @include media.min-width(s) {}

        @include media.min-width(ms) {}

        @include media.min-width(m) {
            @include row-3-1;
        }

        @include media.min-width(ml) {
            @include row-2-1;
            margin-top: 6vh;
        }

        @include media.min-width(l) {}

        @include media.min-width(xl) {}
    }

    :nth-child(2),
    :nth-child(3) {
        display: inline-flex;

        h1 {
            cursor: pointer;
        }

        h4 {
            margin: 5px 0 0 10px;

            @include media.min-width(m) {
                margin: 8px 0 0 10px;
            }
        }
    }

    :nth-child(4) {
        @include col-1-4;
        @include row-5-1;

        @include underline;

        margin-top: auto;

        @include media.min-width(s) {}

        @include media.min-width(ms) {}

        @include media.min-width(m) {

            @include row-4-1;
        }

        @include media.min-width(ml) {
            @include row-3-1;
        }

        @include media.min-width(l) {}

        @include media.min-width(xl) {}
    }

    :nth-child(5) {
        @include col-1-4;
        @include row-6-2;

        @include media.min-width(s) {}

        @include media.min-width(ms) {}

        @include media.min-width(m) {
            @include row-5-1;
            @include col-1-3;
        }

        @include media.min-width(ml) {
            @include row-4-1;
        }

        @include media.min-width(l) {
            @include col-1-6;
        }

        @include media.min-width(xl) {}
    }
}