#logo {
    font-weight: 700;
    font-size: 48px;
    
    width: fit-content;
    height: fit-content;

}

/* 
Mix blend mode difference
background transparent
*/

header {
    position: fixed;
    margin-top: 40px;
    margin-left: 40px;
    z-index: 1;    
}

nav ul {
    list-style: none;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#desktop {
    display: none;
    margin-top: 2px;
}

#mobile {
    margin-top: 15px;
}
 
 @media only screen and (min-width: 480px) {
    #logo {
        font-size: 54px;
    }
 }
 
 @media only screen and (min-width: 740px) {
    header {
        margin-top: 60px;
        margin-left: 80px;
    }
 }
 
 @media only screen and (min-width: 840px) {
    header {
        margin-top: 70px;
        margin-left: 100px;
    }
 }
 
 @media only screen and (min-width: 1024px) {
    header {
        margin-left: 140px;
    }

    #desktop {
        display: block;
    }

    #mobile {
        display: none;
    }
 }
 
 @media only screen and (min-width: 1440px) {
 
 }