@use "../../css/media.scss";
@import "../../css/grid.scss";
@import "../../css/helpers.scss";

#contactPage {
    background-color: black;
}

#contactPageTop {
    height: 100vh;
    background-color: #F4E2C0;
    width: 100%;

    h1,
    h2 {
        @include col-1-4;

        @include media.min-width(l) {
            @include col-1-8;
        }

        @include media.min-width(xl) {
            @include col-1-12;
        }
    }

    h1 {
        @include center;

        @include row-5-1;

        @include media.min-width(m) {
            @include row-4-1;
        }

        @include media.min-width(ml) {
            @include row-3-1;
        }
    }

    h2 {
        @include center;
        margin: auto 0;
    }

    h2:first-of-type {
        @include row-3-2;

        @include media.min-width(m) {
            @include row-3-1;
        }

        @include media.min-width(ml) {
            @include row-2-1;
        }
    }

    h2:nth-child(3) {
        @include row-7-2;

        @include media.min-width(m) {
            @include row-6-1;
        }

        @include media.min-width(ml) {
            @include row-4-1;
        }
    }
}