@use "../../../css/media.scss";
@import "../../../css/grid.scss";
@import "../../../css/helpers.scss";

#hobbies {
    height: 100vh;

    h1 {
        @include col-2-2;
        @include row-1;

        display: flex;
        align-items: center;
        justify-content: center;

        @include media.min-width(l) {
            @include col-3-4;
        }

        @include media.min-width(xl) {
            @include col-5-4;
        }
    }
}